@charset "utf-8";
/*_______  css reset  _______*/
/*_______ @devan5 2012.08.15 _______*/

/*--  margin  --*/
html,body,div,
ol,ul,li,dl,dd,dt,
menu,
h1,h2,h3,h4,h5,h6,
p,pre,code,
fieldset,legend,
form,input,button,textarea,blockquote,
table,caption,tr,th,td,
hr,

/*--  HTML5  --*/
article,section,
audio,video,embed,canvas,
details,datalist,
figure,
figcaption {
	margin:0;padding:0;
}

/*--  font  -*/
input,button,textarea,select,optgroup,option,code,pre {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/*--  header  --*/
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: inherit;
}

/*--  li  --*/
li {
	list-style: none;
}

/*--  img  -*/
img {
	border: 0;
}

/*--  table  --*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: middle;
}
tr, th, td {
	vertical-align: inherit;
}
th {
	text-align: center;
}

/*--  iframe  --*/
iframe{
	height: inherit;
	width: inherit;
}

/*--  quote  --*/
q:before, q:after {
	content: "";
}


/*---  content  ---*/
html {
	font-family: "arial", monospace;
}
a:link {
	color: #3366FF;
}
a:visited {
	color: #9149D5;
}
a:active {
	color: #EE0000;
}

/*--  function  --*/
a {
	outline: none;
}
.clearDotted {
	_blr: expression(this.onFocus=this.blur());
	outline: none;
}

/*--  HTML5  --*/
header,nav,article,section,aside,hgroup,figure,figcaption,canvas,audio,video,embed,isindex,map,menu,footer,

/*--  block of structure  --*/
.img2a,dl,dt,dd,

/*--  reFlow  --*/
.db {
	display: block;
}
.di {
	display: inline;
}
.dib{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.dibWrap{
	font-size:0;
	*word-spacing:-1px;
}
.dibWrap .dib{
	word-spacing: normal;
	vertical-align: top;
}
.none {
	display: none;
}
.w {
	width: 100%;
}
.h {
	height: 100%;
}
.clearfix:before,
.clearfix:after {
	clear: both;
	content: "\200B";
	display: block;
	height: 0;
}
.zoom, .clearfix {
	#zoom: 1;
}
.posa {
	position: absolute;
}
.posr {
	position: relative;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.fn {
	float: none;
}
.cb {
	clear: both;
}
.cl {
	clear: left;
}
.cr {
	clear: right;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
.vat {
	vertical-align: top;
}
.vam {
	vertical-align: middle;
}
.vab {
	vertical-align: bottom;
}
.bc {
	margin-left: auto;
	margin-right: auto;
}

/*--  repaint  --*/
.vh {
	visibility: hidden;
}
.vv {
	visibility: visible;
}
.cura {
	cursor: auto;
}
.curd {
	cursor: default;
}
.curh {
	cursor: help;
}
.curm {
	cursor: move;
}
.curp {
	cursor: pointer;
}
.curw {
	cursor: wait;
}
.ovh {
	overflow: hidden;
}
.ovv {
	overflow: visible;
}
.ova {
	overflow: auto;
}
.ovs {
	overflow: scroll;
}

/*--  Typesetting  --*/
.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs20{font-size:20px;}
.fs25{font-size:25px;}

.tdn{text-decoration:none;}
.tdu{text-decoration:underline;}
.tdl{text-decoration:line-through;}
.fwb{font-weight:bold;}
.fwn{font-weight:normal;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}


.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}