// inline-block
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

// 单行居中
@mixin single-lh($px) {
  height: $px;
  line-height: $px;
}

// 清除浮动
.clearfix {
  &:before,
  &:after {
    clear: both;
    content: "\200B";
    display: block;
    height: 0;
  }
}

// transparent
@mixin transparent($num) {
  opacity: $num;
  filter: alpha(opacity=$num*100);
}

// 滑动门
/*
	<span class="d-btn01">
		<!-- 里的 元素必须为 .wife 挂钩 -->
		<span class="d-less-wife"></span>
	</span>
*/

/*
param:
	(1) url height/line-height
	(2) url height/line-height wifeName
	(3) url height/line-height wifeName p
	(4) url height/line-height wifeName pr pl
*/


.bgp-rb {
  background-position: right bottom;
}

.bgp-lt {
  background-position: left top;
}

//
@mixin d-slide($url, $h, $wife: "d-slide-wife", $pl: 1em, $pr: $pl) {
  background-image: url($url);
  @extend .bgp-lt;
  @extend .dib;
  @include single-lh($h);
  .#{$wife} {
    @extend .dib;
    @extend .bgp-rb;
    background-image: url($url);
    height: $h;
    line-height: $h;
    padding: 0 0 0 $pr;
  }
  padding: 0 0 0 $pl;
}

// 多重边框
@mixin borders($arguments...) {
  -border-top-colors: $arguments;
  border-right-colors: $arguments;
  border-bottom-colors: $arguments;
  border-left-colors: $arguments;
  -moz-border-top-colors: $arguments;
  -moz-border-right-colors: $arguments;
  -moz-border-bottom-colors: $arguments;
  -moz-border-left-colors: $arguments;
}